In [1]:
from bs4 import BeautifulSoup
import requests
import pymongo

In [2]:
from splinter import Browser

In [3]:
import pandas as pd

In [4]:
conn ='mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [5]:
db = client.craiglist_db
collection = db.items

In [123]:
url='https://mars.nasa.gov/news/'

In [124]:
response=requests.get(url)

In [125]:
soup= BeautifulSoup(response.text, 'html.parser')

In [197]:
listings={}

In [203]:
listings["title"] = soup.find('div', class_='content_title').text
listings["news_p"] = listings.a.text
#listings["date"]=soup.find("div", class_="list_date")

AttributeError: 'dict' object has no attribute 'a'

In [199]:
listings

{'title': '\n\nNASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities\n\n'}

In [126]:
#View of html 
#(soup.prettify())

In [207]:
# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
results = soup.find_all('div', class_='slide')

# Loop through returned results
for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        news_title = result.find('div', class_='content_title').text
        # Identify and return price of listing
        news_p = result.a.text
        # Identify and return link to listing
        #link = result.a['href']

        # Run only if title, price, and link are available
        if (news_title and news_p):
            # Print results
            print('-------------')
            print(f'News_Title:{news_title}')
            print(f'News_Paragraph:{news_p}')
            #print(link)

            # Dictionary to be inserted as a MongoDB document
            post = {
                'news_title': news_title,
                'news_p': news_p,
            }

            collection.insert_one(post)

    except Exception as e:
        print(e)

'NavigableString' object has no attribute 'a'
'NoneType' object has no attribute 'text'
'NavigableString' object has no attribute 'a'

In [216]:
results ={}
# Identify and return title of listing
results["news_title"] = result.find('div', class_='content_title').text
# Identify and return price of listing
results["news_p"] = result.a.text

        # Run only if title, price, and link are available
if (news_title and news_p):
    print('-------------')
    print(f'News_Title:{news_title}')
    print(f'News_Paragraph:{news_p}')
            #print(link)

-------------
News_Title:

NASA to Hold Mars 2020 Perseverance Rover Launch Briefing


News_Paragraph:


Learn more about the agency's next Red Planet mission during a live event on June 17.

## Splinter

In [58]:
!which chromedriver

chromedriver not found

In [30]:
executable_path = {'executable_path': '/Users/jonathanrocha/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [31]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [53]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [68]:
article = soup.find('ul', class_='articles')

categories = article.find_all('div', class_='img')

In [80]:
url_list=[]
image_url=[]
featured_image_url=[]

for category in categories:
    url_list.append(category)
    image=category.find('img')['src']
    image_url.append(image)
    
featured_image_url=['https://www.jpl.nasa.gov' + url for url in image_url]
#titles_and_urls = zip(category_list, featured_image_url_list)

#try:
    #for title_url in titles_and_urls:
        #browser.links.find_by_partial_text('next').click()
#except ElementDoesNotExist:
    #print("Scraping Complete")

In [74]:
url_list[1]

<div class="img">
<img alt="Daedalia Planum" class="thumb" src="/spaceimages/images/wallpaper/PIA24354-640x350.jpg" title="Daedalia Planum"/>
</div>

In [76]:
image_url[0]

'/spaceimages/images/wallpaper/PIA24355-640x350.jpg'

In [81]:
featured_image_url

['https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24355-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24354-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24353-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24352-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24351-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24287-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24262-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24286-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24280-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24279-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24278-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24277-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24276-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24275-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24274-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24273-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24272-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24271-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24260-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24259-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24258-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24257-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24256-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24255-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24254-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24253-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24252-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24251-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24250-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24249-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24248-640x350.jpg',
 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24247-640x350.jpg']

## Scraping With Pandas

In [83]:
mars_url='https://space-facts.com/mars/'

In [97]:
tables = pd.read_html(mars_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [111]:
mars_df=tables[0]
mars_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [117]:
mars_df.columns=['','Mars']
mars_df.head()

                                                  Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [118]:
Mars_html_table=mars_df.to_html()
Mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [120]:
Mars_html_table.replace('/n','')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Hemispheres

In [13]:
hem_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [16]:

executable_path = {'executable_path': '/Users/jonathanrocha/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(hem_url)

In [17]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [109]:

images = img_class.find_all('div', class_='item')

In [152]:
title_list=[]
image_url=[]
hemisphere_image_url=[]


for image in images:
    title=image.find('img')['alt']
    title_list.append(title)
    link_url = image.find('a')['href']
    image_url.append(link_url)
    
hemisphere_image_url=['https://astrogeology.usgs.gov/' + image for image in image_url]

In [115]:
hemisphere_image_url

['https://astrogeology.usgs.gov//search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/valles_marineris_enhanced']

In [150]:
title_list

[[], [], [], []]