In [42]:
from bs4 import BeautifulSoup
import requests
import pymongo

In [43]:
from splinter import Browser

In [44]:
import pandas as pd

In [45]:
conn ='mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [46]:
db = client.Mars_news_db
collection = db.items

In [47]:
url='https://mars.nasa.gov/news/'

In [48]:
response=requests.get(url)

In [49]:
soup= BeautifulSoup(response.text, 'html.parser')

## Retrieve news data

In [51]:
results ={}
# Identify and return title of listing
results["news_title"] = soup.find('div', class_='content_title').text
# Identify and return price of listing
results["news_p"] = soup.a.text

        # Run only if title, price, and link are available
if (news_title and news_p):
    print('-------------')
    print(f'News_Title:{news_title}')
    print(f'News_Paragraph:{news_p}')
            #print(link)
else:
    print("Data retrieve failed")

-------------
News_Title:

The Launch Is Approaching for NASA's Next Mars Rover, Perseverance


News_Paragraph:


The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan.

## Splinter

In [58]:
!which chromedriver

chromedriver not found

In [56]:
executable_path = {'executable_path': '/Users/jonathanrocha/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [57]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [58]:
#Create the browser,Soup, and start the find
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
categories = soup.find('div', class_='carousel_items')

In [69]:
#Display HTML if needed
#print(categories)

In [68]:
#Find the image link and set the URL
image=categories.find('a')['data-fancybox-href']
print(f'https://www.jpl.nasa.gov{image}')

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16919_ip.jpg

## Scraping With Pandas

In [83]:
mars_url='https://space-facts.com/mars/'

In [97]:
tables = pd.read_html(mars_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [111]:
mars_df=tables[0]
mars_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [117]:
mars_df.columns=['','Mars']
mars_df.head()

                                                  Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [118]:
Mars_html_table=mars_df.to_html()
Mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [120]:
Mars_html_table.replace('/n','')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Hemispheres

In [164]:
hem_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [165]:

executable_path = {'executable_path': '/Users/jonathanrocha/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(hem_url)

In [166]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [158]:
images = soup.find_all('div', class_='item')

In [247]:
title_list=[]
image_url=[]
hemisphere_image_url={}


for image in images:
    title=image.find('h3').text
    title_list.append(title)
    link_url = image.find('img')['src']
    image_url.append(link_url)
    
hemisphere_image_url["img_url"]=['https://astrogeology.usgs.gov' + image for image in image_url ]
hemisphere_image_url["title"]=[title for title in title_list]

['https://astrogeology.usgs.gov/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png', 'https://astrogeology.usgs.gov/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png', 'https://astrogeology.usgs.gov/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png', 'https://astrogeology.usgs.gov/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png']