In [95]:
from bs4 import BeautifulSoup
import requests
import pymongo

In [96]:
from splinter import Browser

In [97]:
import pandas as pd

# Mars News

In [98]:
url='https://mars.nasa.gov/news/'

In [99]:
response=requests.get(url)

In [100]:
soup= BeautifulSoup(response.text, 'html.parser')

In [101]:
results = soup.find_all('div', class_='slide')
news_title = result.find('div', class_='content_title').text.strip()
news_p = result.a.text.strip()

In [107]:
print(f'title: {news_title}')

title: NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes

In [108]:
print(f'Paragraph: {news_p}')

Paragraph: After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.

# Featured Image

In [109]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [110]:
url_t = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
url_i='https://www.jpl.nasa.gov'
browser.visit(url_t)

In [111]:
#Create the browser,Soup, and start the find
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [114]:
cat=soup.find('div',class_='sm:object-cover object-cover')
image=cat.find('img')['src']

In [113]:
print(f'Image link: {image}')

Image link: https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24300.2e16d0ba.fill-400x400-c50.jpg

# Mars Facts

In [116]:
mars_url='https://space-facts.com/mars/'

In [117]:
tables = pd.read_html(mars_url)

In [118]:
mars_df=tables[0]
mars_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [119]:
mars_df.columns=['','Mars']
mars_df.head()

                                                  Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [120]:
Mars_html_table=mars_df.to_html()
Mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [121]:
Mars_html_table.replace('/n','')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Hemispheres

In [230]:
hem_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [231]:

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(hem_url)

In [232]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [233]:
images = browser.find_by_css("a.product-item h3")

In [234]:
hemisphere_image_url=[]



for image in range(len(images)):
    url_info={}
    browser.find_by_css("a.product-item h3")[i].click()
    cat_info=browser.links.find_by_text('Sample').first
    url_info['title']=browser.find_by_css('h2.title').text
    url_info['link_url'] = cat_info['href']
    hemisphere_image_url.append(url_info)
    browser.back()

In [235]:
hemisphere_image_url

[{'title': 'Valles Marineris Hemisphere Enhanced',
  'link_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'link_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'link_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'link_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]